<h2 class="titulo-centrado">ChinoSneakers - Catálogo de Productos</h2>

<div class="productos">
  <div *ngFor="let producto of productos" class="producto">
    <div class="img-producto">
      <img [src]="producto.imagen" alt="{{producto.nombre}}">
    </div>
    <div class="nombre-producto">
      <h3>{{producto.nombre}}</h3>
    </div>
    <div class="precio-producto">
      <p>Precio: ${{producto.precio}}</p>
      <p>Cantidad: {{producto.cantidad}}</p> <!-- Mostrar cantidad -->
    </div>

    <button (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
  </div>
</div>

<div class="contenedor-boton">
  <button class="carrito-button" (click)="irAlCarrito()">Ir al carrito</button>

  <button class="inventario-button" (click)="irAlInventario()">Ir al inventario</button>
</div>
